#heading {
    color: red;
}

.logoContainer img {
    width: 150px;
}

.header {
    display: flex;
    align-items: 'center';
    justify-content: space-between;
    border: 1px solid gainsboro;
}

.navBar ul {
    display: flex;
    margin: 40px;
}

.navBar li {
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
    list-style: none;
    padding: 10px;
}