#root p {
    margin: 0 !important;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: #f2bdcd;
    border: 1px solid gainsboro;

    .logoContainer img {
        width: 60px;
    }

    .navBar ul {
        display: flex;
        margin: 10px;

        li {
            font-size: 20px;
            margin: 0 10px;
            list-style: none;
            padding: 10px;
            cursor: pointer;
        }

        .login {
            width: 100px;
            border: 1px solid gray;
            background: gray;
            text-align: center;
        }
    }
}

.banner {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gainsboro;

    .searchContainer {
        input {
            margin-right: 15px;
        }
    }

    .filterContainer {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
}



/* card */
.restContainer {
    display: grid;
    grid-template-columns: repeat(4, 0fr);

    a {
        color: #000;
        text-decoration: none;
    }
}

.restaurantCard {
    background: #f0f0f0;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    cursor: pointer;

    .restaurantImg {
        min-width: 300px;
        max-width: 300px;
        // min-height: 250px;
        // max-height: 250px;
    }

    .restaurantInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h5 {
        margin: 10px 0;
    }

    h6 {
        margin: 0 0 10px;
    }
}

.restaurantCard:hover {
    border: .5px solid grey;
}


.shimmer-container {
    display: flex;
    flex-wrap: wrap;

    .shimmer-card {
        background: #f0f0f0;
        margin: 10px;
        padding: 10px;
        width: 300px;
        height: 300px;
    }
}

.menucontainer {
    .restaurantInfo {
        max-width: 600px;
        margin: 30px auto;
        padding: 0 30px 30px;
        background: #F2BDCD;
        border-radius: 20px;
        border: 15px solid #D8A4B5;
    }
}

.lifeCycleMethodEg {
    h5 {
        margin: 0;
    }
}

.userContainer {
    .restaurantCard {
        width: auto;
    }
}

.withVegLabelContainer {
    position: relative;

    label {
        position: absolute;
        top: 1px;
        right: 11px;
        padding: 5px 20px;
        border-radius: 5px;
        background: #74db85;
    }
}

.accordian {
    max-width: 700px;
    margin: auto;
    margin-bottom: 10px;

    .accordianContent {
        padding: 0 50px;

        .flex-space-between {
            margin-top: 5px;
            border-bottom: .5px solid #D8A4B5;
        }
    }

    .accordianTitleContainer {
        padding: 0 50px;
        background: #F2BDCD;
        border-bottom: 1px solid #D8A4B5;
    }
}

.appFooter {
    padding: 15px;
    background: #f2bdcd;
}